body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
}
.react-logo {
  width: 40px;
}

.main-content,
.nav {
  padding: 20px;
}

.nav,
.left-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav {
  background-color: #21222a;
}

.left-head {
  margin-right: auto;
}

.left-head > h3 {
  color: #61dbfb;
  font-weight: 700;
  margin-left: 10px;
  font-size: 22px;
}

.nav h4 {
  color: #deebf8;
  font-weight: 600;
}

.main-content {
  background: url(components/reactjs-icon2.png) no-repeat right center #282d35;
  min-height: 680px;
}

h1 {
  font-size: 39px;
  letter-spacing: -0.05em;
}
ul {
  max-width: 400px;
}

ul > li {
  line-height: 30px;
  padding-block: 10px;
}
ul > li::marker {
  color: #61dbfb;
  font-size: 1.4rem;
}
